[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
    "echo -e '//registry.npmjs.org/:_authToken='$NPM_TOKEN'\n@volley:registry=https://registry.npmjs.org/\nalways-auth=true' > ~/.npmrc && cat ~/.npmrc && npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/index.js"
