[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
    "printf '//registry.npmjs.org/:_authToken=%s\\n@volley:registry=https://registry.npmjs.org/\\nalways-auth=true\\n' \"$NPM_TOKEN\" > ~/.npmrc && cat ~/.npmrc && npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/index.js"
